In [3]:
import pandas as pd

uri  = 'https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'
dataset = pd.read_csv(uri)
dataset.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   home          99 non-null     int64
 1   how_it_works  99 non-null     int64
 2   contact       99 non-null     int64
 3   bought        99 non-null     int64
dtypes: int64(4)
memory usage: 3.2 KB

In [5]:
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought": "comprado"
}
dataset.rename(columns = mapa, inplace = True)

### Conforme o curso, é necessário separar as 3 colunas para criar o train_x

In [6]:
x = dataset[['principal', 'como_funciona', 'contato']] # LEMBRA: 2 COLCHETE = DATAFRAME
y = dataset['comprado'] # PRECISA SER SERIES PRA NÃO BUGAR O FIT

In [8]:
x.head()
print(type(x))

<class 'pandas.core.frame.DataFrame'>

In [77]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprado, dtype: int64

In [78]:
dataset.shape

(99, 4)

In [151]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(x , y, test_size = 0.24)
print(f'Número de elementos: train_X - {len(train_x)}, train_Y - {len(train_y)}  test_X - {len(test_x)}, test_Y - {len(test_y)}')

Número de elementos: train_X - 75, train_Y - 75  test_X - 24, test_Y - 24

In [152]:
from sklearn.svm import LinearSVC
model = LinearSVC()
model.fit(train_x, train_y)

LinearSVC()

In [153]:
predict = model.predict(test_x)
results = []
bought = (predict == 1).sum()
percent = (bought/ len(predict)) * 100
for item in predict:
    if (item == 1):
        results.append('Comprou')
    else:
        results.append('Não comprou')
print(f'O resultado dos testes foi: {results}')

O resultado dos testes foi: ['Não comprou', 'Não comprou', 'Não comprou', 'Comprou', 'Não comprou', 'Não comprou', 'Não comprou', 'Comprou', 'Comprou', 'Não comprou', 'Não comprou', 'Não comprou', 'Não comprou', 'Comprou', 'Não comprou', 'Comprou', 'Comprou', 'Não comprou', 'Não comprou', 'Comprou', 'Não comprou', 'Não comprou', 'Não comprou', 'Comprou']

In [154]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(test_y,predict) * 100
print(f'A precisão foi de {round(acc,2)}%')

A precisão foi de 95.83%

In [155]:
print(f'Conclusão: {bought} das {len(predict)} pessoas compraram, o que vale a {round(percent,2)}% dos clientes')
results = {
    "Aquisições de cada cliente" : results
}
table = pd.DataFrame(results)

table

Conclusão: 8 das 24 pessoas compraram, o que vale a 33.33% dos clientes

   Aquisições de cada cliente
0                 Não comprou
1                 Não comprou
2                 Não comprou
3                     Comprou
4                 Não comprou
5                 Não comprou
6                 Não comprou
7                     Comprou
8                     Comprou
9                 Não comprou
10                Não comprou
11                Não comprou
12                Não comprou
13                    Comprou
14                Não comprou
15                    Comprou
16                    Comprou
17                Não comprou
18                Não comprou
19                    Comprou
20                Não comprou
21                Não comprou
22                Não comprou
23                    Comprou

# Usando Train_test_split

In [182]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

train_x, test_x, train_y, test_y = train_test_split(x , y, random_state = SEED, test_size = 0.24, stratify = y)

print(f'Número de elementos: train_X - {len(train_x)}, train_Y - {len(train_y)}  test_X - {len(test_x)}, test_Y - {len(test_y)}')
print()
model = LinearSVC()
model.fit(train_x, train_y)

predict = model.predict(test_x)
results = []
bought = (predict == 1).sum()
percent = (bought/ len(predict)) * 100
for item in predict:
    if (item == 1):
        results.append('Comprou')
    else:
        results.append('Não comprou')
print(f'O resultado dos testes foi: {results}')
print()

acc = accuracy_score(test_y,predict) * 100
print(f'A precisão foi de {round(acc,2)}%')

print(f'Conclusão: {bought} das {len(predict)} pessoas compraram, o que vale a {round(percent,2)}% dos clientes')
results = {
    "Aquisições de cada cliente" : results
}
table = pd.DataFrame(results)

table

Número de elementos: train_X - 75, train_Y - 75  test_X - 24, test_Y - 24

O resultado dos testes foi: ['Não comprou', 'Comprou', 'Comprou', 'Não comprou', 'Não comprou', 'Não comprou', 'Comprou', 'Não comprou', 'Não comprou', 'Comprou', 'Não comprou', 'Não comprou', 'Não comprou', 'Não comprou', 'Não comprou', 'Não comprou', 'Não comprou', 'Não comprou', 'Comprou', 'Não comprou', 'Não comprou', 'Comprou', 'Não comprou', 'Comprou']

A precisão foi de 95.83%
Conclusão: 7 das 24 pessoas compraram, o que vale a 29.17% dos clientes

   Aquisições de cada cliente
0                 Não comprou
1                     Comprou
2                     Comprou
3                 Não comprou
4                 Não comprou
5                 Não comprou
6                     Comprou
7                 Não comprou
8                 Não comprou
9                     Comprou
10                Não comprou
11                Não comprou
12                Não comprou
13                Não comprou
14                Não comprou
15                Não comprou
16                Não comprou
17                Não comprou
18                    Comprou
19                Não comprou
20                Não comprou
21                    Comprou
22                Não comprou
23                    Comprou